<h1>問診票</h1>
<p><strong>Age: </strong><%= @inquiry.age %></p>
<p><strong>Sex: </strong><%= @inquiry.sex %></p>
<p><strong>Height: </strong><%= @inquiry.height %></p>
<p><strong>Weight: </strong><%= @inquiry.weight %></p>
